<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hitch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>676C39ED1E6BD889005637FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>676C3A011E6BD889005637FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>676C3A0C1E6BD889005637FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
